<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Forside</a></li>
        <li><a href="/medlemsblad">Medlemsblad</a></li>
        <li><a href="/om">Om oss</a></li>
        <li><a href="http://stavanger.kristensamfunnet.no">Kristensamfunnet i Stavanger</a></li>
        <li><a href="http://kristensamfunnet.no">Kristensamfunnet i Norge</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:oliobo@gmail.com">email</a></li>
        <li><a href="https://github.com/olavimmanuel">github.com/olavimmanuel</a></li>
      </ul>
    </footer>
  </body>
</html>
